 <p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>State:</strong>
  <%= @task.state %>
</p>

<%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_task_path(@task) %> |
<%= link_to "<i class='fa fa-chevron-circle-left'></i> Back".html_safe, tasks_path %>
